<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SMTP-Limiter</title>
      <!-- Imports CSS -->
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.min.css') }}"/>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.bulma.min.css') }}"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  </head>
  <body>
        <!-- Imports javascript -->
  <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dataTables.bulma.min.js') }}"></script>
        <style>

.custom-shape-divider-top-1629894396 {
    position: fixed;
    top: 0;
    z-index: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1629894396 svg {
    position: fixed;
        z-index: -4;

}

.custom-shape-divider-top-1629894396 .shape-fill {
    fill: #FFFFFF;
}
        </style>

<div class="custom-shape-divider-top-1629894396">
    <img src="../static/IMG/wavesNegativeTOP.svg" alt="">
</div>



  <!-- navbar start -->
    <nav class="navbar is-fixed-top box-shadow-y has-background-grey-darker">
      <div class="navbar-brand">
        <a
          role="button"
          class="navbar-burger toggler"
          aria-label="menu"
          aria-expanded="false"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>

        <a href="#" class="navbar-item has-text-weight-bold ">
        <a
          role="button"
          class="navbar-burger nav-toggler"
          aria-label="menu"
          aria-expanded="false"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu has-background-grey-darker">
        <div class="navbar-end">
          



          <button class="button is-danger is-rounded is-small mt-3 mb-1 mr-2">
          <div class="navbar-item has-dropdown is-hoverable">
            <a href="#" class="navbar-link has-text-white  is-size-6 ">
                <span class="icon-text">
                        <span class="icon">
                          <i class="fas fa-user-lock" style="color: white"></i>
                        </span>
                        <span class="has-text-white">Admin</span>
                      </span>
            </a>
            <div class="navbar-dropdown is-right">
              <a href="#" class="navbar-item">
                Statistics
              </a>
              <a href="#" class="navbar-item">Live</a>
              <hr class="navbar-divider" />
              <a href="#" class="navbar-item">Log Out</a>
            </div>
          </div>
          </button>
        </div>
      </div>
    </nav>
    <!-- navbar end -->

  <!-- side navbar start -->
    <div class="columns is-variable is-0">
      <div>
        <div class="menu-container px-1 has-background-grey-lighter">
          <div class="menu-wrapper py-1">
            <aside class="menu">
              <p class="menu-label has-text-lighter">Overview</p>
                 <ul class="menu-list">
                <li>
                  <a href="#" class="has-text-black has-background-info-dark">
                    <i class="fas fa-users-cog icon"></i>
                     Active Stats</a>
                  <ul>
                      <li>
                      <a href="#" class="has-text-black">
                        <i class="fas fa-database"></i>
                                                Statistics</a
                      >
                    </li>
                    <li>
                      <a href="#" class="has-text-black">
                        <i class="fas fa-chart-line"></i>Live</a
                      >
                    </li>

                  </ul>
                </li>
              </ul>
              <p class="menu-label has-text-lighter">Administration</p>
              <ul class="menu-list">
                <li>
                  <a href="#" class="has-text-black has-background-info-dark">
                    <i class="fas fa-cogs icon"></i>
                    Manage Limits</a
                  >
                  <ul>
                      <li>
                      <a href="#" class="has-text-black">
                        <i class="fas fa-clock icon"></i>
                        24h Mail</a
                      >
                    </li>
                    <li>
                      <a href="#" class="has-text-black">
                        <i class="fas fa-list-alt icon"></i>
                        Default Limits</a
                      >
                    </li>
                    <li>
                      <a href="#" class="has-text-black">
                        <i class="fas fa-boxes icon"></i>
                        Product Limits</a
                      >
                    </li>
                           <li>
                      <a href="#" class="has-text-black">
                        <i class="fas fa-exclamation-triangle icon"></i>
                        Restriction Limits</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
             
              </ul>
            </aside>
          </div>
        </div>
      </div>
          <!-- side navbar end -->
        {% block body %}
        {% endblock %}

    </div>





  <!-- scripts needed-->
    <script>
        $(document).ready(function() {
  $('.toggler').on('click', function() {
    $('.menu-container').toggleClass('active');
  });

  $('.nav-toggler').on('click', function() {
    $('.navbar-toggler').toggleClass('is-active');
    $('.navbar-menu').toggleClass('is-active');
  });

  function setMenuHeight() {
    var navbarHeight = $('.navbar').outerHeight();
    $('.menu-wrapper')
      .outerHeight(document.documentElement.clientHeight - navbarHeight)
      .niceScroll({
        emulatetouch: true
      });
  }
  setMenuHeight();
  $(window).on('resize', function() {
    setMenuHeight();
  });
});


    </script>
  </body>
</html>