{% extends "dashboard.html" %}
{% block body %}
    <!-- Title-->
<div class="column is-10-desktop is-offset-2-desktop is-9-tablet is-offset-3-tablet is-12-mobile">
    <section class="section pb-2 mb-2 ">
        <div class="container pt-5">
             <h1 class="title is-size-2 has-text-grey-dark has-text-centered">Anomaly Detection ML 
             </h1>
            <hr class="has-background-info">
        </div>
    </section>
    <!-- Product Limits-->
<div class="columns is-variable">
    <div class="column is-one-third">
        <div class="card ml-6 ">
            <div class="card-header has-background-info-dark">
                <p class="card-header-title">
                     Anomaly Detection ML
                </p>
            </div>
            <div class="card-content">
                    <label class="label">Device</label>
               <div class="select is-info pb-3 mb-3">
                  <select class="product_name"
                  id="product_name" name="product_name" required>
                      <option value="">Choose a Device...</option>
                  </select>
                    </div>
                    <div class="field">
                      <label class="label">Product ID</label>
                      <div class="control">
                        <input class="input is-info" id="ID" type="text" placeholder="Product ID" name="id">
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">Server Limit</label>
                      <div class="control">
                        <input class="input is-info" type="text" placeholder="Server Limit" name="slimit" >
                      </div>
                    </div>
                      <div class="field">
                      <label class="label">ServerWeb Limit</label>
                      <div class="control">
                        <input class="input is-info" type="text" placeholder="ServerWeb Limit" name="swlimit" >
                      </div>
                    </div>
                      <div class="field">
                      <label class="label">Mailaccount Limit</label>
                      <div class="control">
                        <input class="input is-info" type="text" placeholder="Mailaccount Limit" name="mlimit" >
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">Domain Limit</label>
                      <div class="control">
                        <input class="input is-info" type="text" placeholder="Domain Limit" name="dlimit" >
                      </div>
                    </div>
                    <div class="field">
                      <div class="control">
                        <button class="button is-link">Submit</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="column">
    <!-- Table of products -->
    <div class="card">
    <div class="card-header has-background-info-dark">
                <p class="card-header-title">
                     Products Limit Table
                </p>
            </div>
        <div class="card-content">
        <div class="table-container">
        <table id="example" class="table table-bordered is-striped" width="100%">
        <thead>
          <tr>
            <td>Feature</td>
            <td>Model</td>
            <td>TNR</td>
            <td>Ransomware</td>
            <td>TPR</td>
          </tr>
        </thead>
        <tbody>
          {% for row in products %}
          <tr>
            <td>{{row['id']}}</td>
            <td>{{row['name']}}</td>
            <td>{{row['server_limit']}}</td>
            <td>{{row['serverWeb_limit']}}</td>
              <td>{{row['mailaccount_limit']}}</td>
              
              <td >
              <a href="#" class="edit" ><i class="fas fa-pencil-alt"></i>edit</a>
                  <br>
              <a href="/deleteProduct/{{row['id']}}" id="delete-row" class="has-text-danger"> <i id="delete-row" class="fas fa-trash"></i>delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
        </div>
    </div>
    </div>
    </div>
    <!-- End Table -->

    <!-- Modal for editing -->
    <div class="modal" id="page-modal">
        <div class="modal-background">
            <div class="modal-content">
                <!-- Content -->
                 <div class="card ml-3 ">
            <div class="card-header has-background-primary">
                <p class="card-header-title">
                     Edit product-limit
                </p>
            </div>
            <div class="card-content">
                    <label class="label">Anomaly</label>
               <div class="select is-primary pb-3 mb-3">
                  <select class="product_name"
                  id="product_name-edit" name="product_name" required>
                      <option value="">Choose a Product...</option>
                  </select>
                    </div>
                    <div class="field">
                      <label class="label">Product ID</label>
                      <div class="control">
                        <input class="input is-primary" id="id-edit" type="text" placeholder="Product ID" name="id">
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">Server Limit</label>
                      <div class="control">
                        <input class="input is-primary" type="text" id="server-edit" placeholder="Server Limit" name="slimit" >
                      </div>
                    </div>
                      <div class="field">
                      <label class="label">ServerWeb Limit</label>
                      <div class="control">
                        <input class="input is-primary" type="text"  id="serverWeb-edit" placeholder="ServerWeb Limit" name="swlimit" >
                      </div>
                    </div>
                      <div class="field">
                      <label class="label">Mailaccount Limit</label>
                      <div class="control">
                        <input class="input is-primary" type="text"  id="mailaccount-edit" placeholder="Mailaccount Limit" name="mlimit" >
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">Domain Limit</label>
                      <div class="control">
                        <input class="input is-primary" type="text" id="domain-edit" placeholder="Domain Limit" name="dlimit" >
                      </div>
                    </div>
                    <div class="field">
                      <div class="control">
                        <button class="button is-link ">Submit</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </div>
    <!-- Modal end -->

    </div>
    </div>
</div>


{% endblock %}